.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.category-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Adjust the gap between buttons as needed */
  padding: 20px;
}

.category-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px; /* Rounded corners */
  background-color: white;
  color: #282c34;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, transform 0.3s;

  /* Add some interaction effects */
  &:hover {
    background-color: #ddd;
  }

  &:active {
    transform: scale(0.95);
  }
}

